.git
.github/**
.scannerwork/**
.vscode/**
coverage-e2e/**
dist/**
node_modules/**
test/**
.editorconfig
.env.example
.eslintrc.json
.gitignore
.nvmrc
.prettierrc
jest-e2e.json
LICENSE
README.md
sonar-project.js
